:root {
  --button: #2563eb;
  --button-hover: #0b4df3;
  --background-primary: #0f172a;
  --background-secondary: #1e293b;
  --background-tertiary: #334155;
  --text-primary: #f8fafc;
  --text-secondary: #cbd5e1;
  --comparing-bar: #f59e0b;
  --unsorted-bar: #3b82f6;
  --sorted-bar: #22c55e;
  --bar-pivot: #ef4444;
  --temp-sort: #8b5cf6;
  --disabled: #9ca3af;
  --universal-transition-speed: all 0.2s ease;
}
body {
  margin: 0;
  padding: 0 10vw 0 10vw; /* veiwport width */
  background-color: var(--background-primary);
}

.header {
  text-align: center;
  color: var(--text-primary);
}

.tab {
  background-color: var(--background-secondary);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

.sorting-container {
  background: var(--background-secondary);
  padding: 20px;
  border-radius: 10px;
}

.bars-container {
  display: flex;
  justify-content: center;
  align-items: flex-end; /* flex-end, flex-stard & center :) */
  height: 200px;
  gap: 4px; /* gap between the bars */
}

.sorting-bar {
  background-color: var(--unsorted-bar);
  width: 30px;
  border-radius: 10px 10px 0 0;
  /* smooth bar movement when swapping */
  transition: var(--universal-transition-speed);
}

.sorting-bar.is-comparing {
  background-color: var(--comparing-bar);
}

.sorting-bar.is-sorted {
  background-color: var(--sorted-bar);
}

.sorting-bar.is-pivot {
  background-color: var(--bar-pivot);
}

.btn {
  padding: 5px;
  border: none;
  border-radius: 10px;
  background-color: var(--button);
  color: var(--text-primary);
  cursor: pointer;
}

.btn:hover {
  background-color: var(--button-hover);
}

.btn:disabled {
  background-color: var(--disabled);
  cursor: not-allowed;
}

.btn,
.input-field {
  width: 100%;
  margin: 10px 0 10px 0; /* top right bottom left */
}

.algorithm-select {
  background-color: var(--background-tertiary);
  color: var(--text-primary);
  text-align: center;
  padding: 5px;
  border-radius: 10px;
}

.stats-container {
  display: grid;
  gap: 10px;
  margin-top: 10px;
}

.stats-item {
  background: var(--background-tertiary);
  padding: 20px;
  border-radius: 10px;
}

.stats-item p {
  color: var(--text-secondary);
}

.stats-item h4 {
  /* margin-top keeps h4 closest to the top of the box (dosent leave big gap between box top edge and title) */
  margin-top: 0;
  color: var(--text-primary);
}
